
.footer {
    color: white;
    padding-bottom: 42px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    
  }
  
  .footer-credits {
    color: grey;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    
  }