.App {
  width: 1440px;
  /* height: 622px; */
  margin-left: 80px;
  margin-right: 80px;
  background-color: #130125;
}

.me-photo{
  width:280px;
  height:328px;
  padding-top: 55px;
}

.about-me-main{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.about-me{
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 80px;
  margin-right: 80px;
  height:328px;
  padding-top: 149px;
  padding-bottom: 169px;
}


.about-me-text{
  font-family: 'Courier New';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
  font-family: 'Courier New', Courier, monospace;
}

.about-me-description{
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  width: 629px;
  height: 90px;
}
.skills{
  display: flex;
  flex-direction: row;
}

.skills-description{
  margin-right: 25px;
}

.experience-main{
  color: white;
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  margin-right: 80px;
 
}

.experience-title{
  font-family: 'Courier New';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
}

.my-experience{
  display: flex;
  flex-direction: row;
}
