
.contacts{
    color: white;
    padding-bottom: 150px;
}
.say-hello{
    font-family: 'Courier New';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
}

.my-contact{
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
}

.button{
    width: 159px;
    height: 56px;
    border: none;
    background-color: #FD5A14;
    color: white;
    border-radius: 2px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}